.jumbotron,
.card-body,
.container,
.site-header {
  font-family: "Raleway", serif !important;
}

.jumbotron .display-4 {
  font-weight: bold;
}

.jumbotron {
  height: 50vh;
  padding: 5em inherit;
  margin-bottom: 0;
  background-color: #53c0fb;
  background: url("../img/cover_back.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: black;
  font-weight: bold;
}

@media (min-width: 768px) {
  .jumbotron {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }
}

.jumbotron p:last-child {
  margin-bottom: 0;
}

.jumbotron-heading {
  font-weight: 300;
}

.jumbotron .container {
  max-width: 40rem;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  text-shadow: 1px 1px 2px grey;
}

.jumbotron .lead {
  font-size: 38px;
}

footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

footer p {
  margin-bottom: 0.25rem;
}

.site-header a {
  color: white;
  transition: ease-in-out color 0.15s;
}

.light-text {
  color: white;
}

.site-header .dropdown-menu a {
  color: black;
}

.dropzone {
  border: 2px dashed #0087f7;
  border-radius: 5px;
  background: white;
}

.alert {
  position: fixed;
  top: 80px;
  width: 50%;
  left: 50%;
  transform: translate(-50%, 0);
}

.lds-ring {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
  top: 50%;
  left: 50%;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 51px;
  height: 51px;
  margin: 6px;
  border: 6px solid #fff;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #fff transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

#spinner-wrapper {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1021;
  display: none;
}

a.custom-card,
a.custom-card:hover {
  color: inherit;
  text-decoration: inherit;
}

.checked {
  color: orange;
}

.raiting {
  color: #ffc000;
}

.comentario {
  color: blue;
}

#formularioComentario {
  width: 50%;
}

#estrellas {
  width: 6%;
}

#comentarios {
  padding-top: 5px;
  padding-bottom: 5px;
  border-bottom: solid 1px silver;
}

#publicado {
  padding-top: 5px;
}

#enviar {
  background-color: slateblue;
  border-color: slateblue;
}

.dropdown a:link {
  text-decoration: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  border-radius: 5px;
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #ddd;
  border-radius: 5px;
}

.dropdown:hover .dropdown-content {
  display: block;
  border-radius: 5px;
}

#nombreRelacionado {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.5s ease;
}

#containerAuto:hover #nombreRelacionado {
  opacity: 0.8;
}

#texto {
  font-weight: bold;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
  background-color: skyblue;
  border-radius: 3px;
  padding: 3px;
}

#texto a {
  text-decoration: none;
}

#texto a:hover {
  text-decoration: none;
}

/* COMIENZO CARRITO DE COMPRAS */

.contenedor-titulo-carrito {
  margin-top: 15px;
  margin-bottom: 10px;
}

.titulo-carrito {
  text-align: center;
  font-size: 36px;
  font-weight: 300;
}

#seccion-principal {
  margin-top: 30px;
  display: flex;
  margin-left: 100px;
}

#mostrarProductosCarrito {
  width: 60%;
  height: 800px;
  margin: 10px 0 100px 0;
  border-radius: 7px;
}

#mostrarTotalCarrito {
  background-color: rgb(224, 194, 155);
  width: 30%;
  height: 60%;
  margin: 10px 0 0 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  border-radius: 7px;
}

#mostrarTotalCarrito h5 {
  margin-left: 10px;
}

.moneda-precio {
  display: flex;
  justify-content: center;
  margin-bottom: -10px;
}

.moneda-precio p {
  font-size: 24px;
  margin-right: 5px;
}

#mostrar-subtotal {
  font-size: 24px;
  font-weight: 400;
  text-align: center;
}

.subtotal-subtotal {
  border-radius: 5px;
  padding-bottom: 10px;
  border-bottom: 2px dashed white;
  margin-bottom: 15px;
}

.carrito-compras {
  width: 100%;
  height: 37%;
  background-color: rgb(183, 231, 233);
  border-radius: 7px;
  display: flex;
  flex-direction: column;
  border-bottom: 2px dashed white;
}

.carrito-compras:last-child {
  border-bottom: 0;
}

.articulo {
  padding: 20px 0 20px 30px;
  height: 120px;
  display: flex;
}

.imagen-articulo {
  margin-right: 20px;
}

.imagen-articulo img {
  margin-left: -10px;
  width: 250px;
  height: 250px;
  border-radius: 7px;
}

.propiedades-articulo {
  margin-right: 50px;
  width: 350px;
}

.propiedades-articulo span {
  display: block;
  font-size: 20px;
  font-weight: 400;
  color: #43484d;
  margin-bottom: 10px;
}

.propiedades-articulo span:first-child {
  margin-bottom: 5px;
}

#tipo-articulo {
  font-weight: 300;
  margin-top: 8px;
  color: #86939e;
}

.contenedor-precio {
  margin-bottom: 10px;
}

.propiedades-articulo .precio-articulo span {
  font-size: 18px;
  display: inline;
}

.monto {
  width: 50px;
  margin-right: 10px;
  display: inline;
}

.cantidad {
  padding-top: 10px;
  margin-right: 60px;
}

.cantidad span {
  font-size: 16px;
  display: inline;
}

.cantidad input {
  -webkit-appearance: none;
  border: none;
  text-align: center;
  width: 35px;
  height: 30px;
  font-size: 16px;
  font-weight: 300;
  border-radius: 5px;
}

.titulo-total-pagar h4 {
  text-align: center;
  margin-top: 5px;
}

#formulario-envio {
  padding-left: 10px;
  position: relative;
}

#formulario-envio h4 {
  text-align: center;
  padding: 5px 0 5px 0;
  font-weight: 400;
}

#formulario-envio p {
  font-size: 14px;
  text-align: center;
}

.campos-input {
  display: flex;
}

.completo input {
  border-color: #2ecc71;
}

.incompleto input {
  border-color: #e74c3c;
}

.campos-input i {
  padding-top: 10px;
  padding-left: 5px;
}

#formulario-envio .completo i.fa-check-circle {
  visibility: visible;
  color: #2ecc71;
}

#formulario-envio .incompleto i.fa-exclamation-circle {
  visibility: visible;
  color: #e74c3c;
}

.input-dire {
  width: 95%;
}

#formulario-envio i {
  visibility: hidden;
  position: absolute;
  left: 85%;
}

#numero::-webkit-outer-spin-button,
#numero::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

#boton-pagar {
  display: none;
  background-color: white;
  height: 52px;
  border-top: 2px white solid;
}

#boton-pagar button {
  width: 100%;
  height: 100%;
  border-radius: 7px;
  font-size: 24px;
  border-color: rgb(240, 137, 119);
  color: #e41534;
  outline: none;
}

.quitar {
  margin-top: 8%;
}

.boton-quitar {
  height: 36px;
  border-radius: 7px;
  border-color: white;
  color: white;
  background-color: rgb(228, 99, 99);
}

.boton-quitar:focus {
  outline: none;
}

/* COMIENZO MODAL CARRITO */

.modal-carrito {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}

#metodos-pago {
  height: 75%;
  width: 30%;
  margin: 5% auto;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.8);
  box-shadow: 5px 5px 3px rgba(0, 0, 0, 0.2);
}

#metodos-pago h5 {
  padding: 15px 0 10px 30px;
}

#metodos-pago input{
  margin-left: 20px;
}

.input-label {
  display: flex;
}

#input-credito {
  margin-right: 5px;
  margin-top: 5px;
}

#monto {
  margin-left: 5px;
}

#sub-envio {
  margin-left: 5px;
}

.misma-linea {
  display: flex;
}

#credito-wrapper {
  display: none;
}

#tarjetas {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: 0 0 15px 20px;
}

#tarjetas label {
  margin-left: 20px;
  margin-bottom: -1px;
}

#tarjetas input {
  margin-bottom: 5px;
}

.datos-tarjeta::-webkit-outer-spin-button,
.datos-tarjeta::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

#debito-wrapper, #cobranza-wrapper {
  display:none;
}

#input-debito {
  margin-right: 5px;
  margin-top: 5px;
}

#abitab, #red-pagos {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

#redes-cobranza img {
  cursor: pointer;
  height: 50px;
  padding-left: 30px;
  opacity: 0.5;
}

#abitab:checked + img, #red-pagos:checked + img {
  opacity: 1;
}

#sin-envio {
  margin-left: 20px;
  margin-bottom: 5px;
  color: #e41534;
  font-size: 21px;
}

.misma-linea span, #monto, #sub-envio {
  font-size: 20px;
}

.misma-linea span {
  margin-left: 20px;
}

#pay {
  display: none;
  width: 30%;
  height: 45px;
  font-size: 21px;
  border-radius: 7px;
  margin-top: 10px;
  margin-left: 35%;
  background-color: rgb(78, 177, 177);
  border-color: rgb(61, 165, 165);
  color: rgb(7, 39, 39);
  outline: none;
}

/* FIN MODAL CARRITO */
/* FIN CARRITO DE COMPRAS */


/* COMIENZO PERFIL */

.contenedor-perfil {
  margin: auto;
  height: 300px;
  width: 60%;
  display: flex;
  margin-bottom: 10%;
}

.contenedor-izquierda {
  height: 100%;
  width: 30%;
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    from(#f29263),
    to(#ee5a6f)
  );
  background: linear-gradient(to right, #ee5a6f, #f29263);
  border-radius: 10px;
}

#imagen-perfil {
  height: 40%;
  margin: auto;
  margin-top: 15px;
  width: 65%;
  background-color: #ee5a6f;
  border-radius: 50%;
  margin-bottom: 5px;
  background-size: cover;
}

#vistaImagen {
  border-radius: 50%;
  width: 100%;
  height: 100%;
}

#label-editar {
  margin-left: 45%;
}

#editar-img {
  width: 20px;
  color: rgb(41, 41, 41);
  font-weight: 300;
  cursor: pointer;
}

#subir-archivo {
  display: none;
  visibility: hidden;
}

.contenedor-derecha {
  height: 100%;
  margin-left: 5px;
  width: 68%;
  background-color: #ddd;
  border-radius: 10px;
}

.informacion {
  font-size: 18px;
  margin: 20px 10px 30px 10px;
  border-bottom: 1px silver solid;
}

.span-form {
  margin-left: 15px;
}

.titulos-perfil {
  margin-left: 10px;
  margin-bottom: 5px;
}

.boton-modificar {
  margin-top: 10px;
  margin-left: 40%;
}

#modificar {
  height: 40px;
  width: 100px;
  border-radius: 3px;
  border: none;
  background-color: #f38999;
  outline: none;
  border-color: violet;
  transition: all 0.38s ease-in-out;
}

#modificar:hover {
  background-color: #ee5a6f;
  color: white;
}

.modal-popup {
  display: none;
  position: fixed;
  z-index: 1;
  background-color: rgba(255, 255, 255, 0.8);
  width: 35%;
  height: 45%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 5px;
  overflow: auto;
  box-shadow: 5px 5px 3px rgba(0, 0, 0, 0.2);
}

.formulario {
  display: table;
  margin: auto;
  margin-top: -7%;
  padding-top: 100px;
}

#tel-usuario::-webkit-outer-spin-button,
#tel-usuario::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

#cerrar-popup {
  position: absolute;
  top: 5%;
  right: 3%;
  width: 40px;
  height: 40px;
  background-color: #555;
  color: #f5f5f5;
  font-size: 25px;
  font-weight: 600;
  text-align: center;
  border-radius: 50%;
  cursor: pointer;
}

#cerrar-popup:hover,
#cerrar-popup:focus {
  color: #000;
  cursor: pointer;
}

.label-input-form {
  display: table-row;
}

.formulario label {
  display: table-cell;
}

.formulario input {
  margin-left: 20px;
  width: 300px;
  display: table-cell;
}

.boton-guardar {
  margin-left: 40%;
}

#guardar {
  margin-top: 15px;
  height: 35px;
  width: 100px;
  border-radius: 3px;
  border: none;
  background-color: #f38999;
  outline: none;
  border-color: violet;
  transition: all 0.38s ease-in-out;
}

#guardar:hover {
  background-color: #ee5a6f;
  color: white;
}

/* FIN PERFIL */
